* {
	margin:0;
	padding:0;	
	}

a {
    color: #000000;
    text-decoration: underline;
}

a:hover {
  color: #0000ff;
  text-decoration: none;
}

body {
    background: #81c3f3;
    color: #000000;
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    padding: 0;
    margin: 0;
    max-height: 100%;
    max-width: 50%;
}

#footer {
   position:fixed;
   left:0px;
   bottom:30px;
   height:30px;
   width:100%;
}

.padding
{
height:300px;
padding: 50px 50px 50px 50px;
}