* {
	margin:0;
	padding:0;	
	}

a {
    color: #ffffff;
    text-decoration: underline;
}

p {
    display: block;
    margin-left: 100px;
    margin-right: 100px;
  }

a:hover {
  color: #0000ff;
  text-decoration: none;
}

body {
    background: #000000;
    color: #ffffff;
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    padding: 25px;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
}

#back{ 
	position:absolute; 
	top:-5px; 
	left:-5px; 
} 

#footer {
   position:fixed;
   left:0px;
   bottom:30px;
   height:30px;
   width:100%;
}

.padding
{
height:300px;
padding: 50px 50px 50px 50px;
}