* {
	margin:0;
	padding:0;	
	}

a {
    color: #ffffff;
    text-decoration: underline;
}

a:hover {
  color: #0000ff;
  text-decoration: none;
}

body {
    position: relative;
    background: #000000;
    color: #FFFFFF;
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0 8%;
    font-family: "Garamond", Serif;
}


img {
    padding: 2px;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
}

#panel-left {
    left:0;
    float: left;
    }
    
#panel-right {
    right:0;
    float: right;
    }

.mypanel {
    position:fixed;
    width: 8%;
    height: 98vh;
    top:1vh;
    display: flex;
    justify-content: center;
    }
    
figure {
  display: inline-block;
  height: 300px;
  text-align: center;
  line-height: 5px;
  text-indent: 0;
  margin: 5px 0;
  padding: 0;
}